name: Tests
permissions:
  contents: read

on:
  push:
    branches: [ main ]

  pull_request:
    branches: [ main ]

jobs:
  check-source-changes:
    runs-on: ubuntu-latest
    outputs:
      run_job: ${{ steps.changed-files.outputs.any_changed }}
    steps:
      - name: Checkout Sourcecode
        uses: actions/checkout@v4

      - name: Check for changes in source code
        id: changed-files
        uses: tj-actions/changed-files@v46.0.1
        with:
          files: |
            purpleair_api/*.py
            tests/*.py
            tests/*.txt
            setup.py
            setup.cfg

  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    needs: check-source-changes
    if: needs.check-source-changes.outputs.run_job == 'true'
    steps:    
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }} env for running unittest tests...
        uses: actions/setup-python@v5
        with:
          python-version: "${{ matrix.python-version }}"

      - name: Install python3 requirements...
        uses: carlkidcrypto/os-specific-runner@v2.1.1
        with:
            linux: cd /home/runner/work/purpleair_api/purpleair_api/ ;
               python -m pip install --upgrade wheel ;
               python -m pip install --upgrade setuptools ;
               python -m pip install --upgrade pip ;
               python -m pip install coverage ;
               python -m pip install requests_mock ;
            macos: cd /Users/runner/work/purpleair_api/purpleair_api/ ;
               python -m pip install --upgrade wheel ;
               python -m pip install --upgrade setuptools ;
               python -m pip install --upgrade pip ;
               python -m pip install coverage ;
               python -m pip install requests_mock ;
            windows: cd D:\a\purpleair_api\purpleair_api\ ;
                 python -m pip install --upgrade wheel ;
                 python -m pip install --upgrade setuptools ;
                 python -m pip install --upgrade pip ;
                 python -m pip install coverage ;
                 python -m pip install requests_mock ;

      - name: Run unit tests...
        uses: carlkidcrypto/os-specific-runner@v2.1.1
        with:
          linux: cd /home/runner/work/purpleair_api/purpleair_api/tests ;
                 coverage run -m unittest && coverage json -o coverage_linux_${{ matrix.os }}_${{ matrix.python-version }}.json ;
          macos: cd /Users/runner/work/purpleair_api/purpleair_api/tests ;
                 coverage run -m unittest && coverage json -o coverage_macos_${{ matrix.os }}_${{ matrix.python-version }}.json ;
          windows: cd D:\a\purpleair_api\purpleair_api\tests ;
                   coverage run -m unittest && coverage json -o coverage_windows_${{ matrix.os }}_${{ matrix.python-version }}.json ;

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: coverage_*.json
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}