name: Tests
permissions:
  contents: read

on:
  push:
    branches: [ main ]

  pull_request:
    branches: [ main ]

jobs:
  check-source-changes:
    runs-on: ubuntu-latest
    outputs:
      run_job: ${{ steps.changed-files.outputs.any_changed }}
    steps:
      - name: Checkout Sourcecode
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Check for changes in source code
        id: changed-files
        uses: tj-actions/changed-files@c3a1bb2c992d77180ae65be6ae6c166cf40f857c # v46.0.1
        with:
          files: |
            purpleair_api/*.py
            tests/*.py
            tests/*.txt
            setup.py
            setup.cfg
            .github/workflows/tests.yml

  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    needs: check-source-changes
    if: needs.check-source-changes.outputs.run_job == 'true'
    steps:    
      - name: Check out repository code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Python ${{ matrix.python-version }} env for running unittest tests...
        uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
        with:
          python-version: "${{ matrix.python-version }}"
          cache: 'pip'

      - name: Install python3 requirements...
        uses: carlkidcrypto/os-specific-runner@0396cb2145e0ba19f3b87ff667de7dce2a4ce0b3 # v2.1.1
        with:
            linux: cd /home/runner/work/purpleair_api/purpleair_api/ ;
               python -m pip install --upgrade wheel ;
               python -m pip install --upgrade setuptools ;
               python -m pip install --upgrade pip ;
               python -m pip install coverage ;
               python -m pip install requests_mock ;
            macos: cd /Users/runner/work/purpleair_api/purpleair_api/ ;
               python -m pip install --upgrade wheel ;
               python -m pip install --upgrade setuptools ;
               python -m pip install --upgrade pip ;
               python -m pip install coverage ;
               python -m pip install requests_mock ;
            windows: cd D:\a\purpleair_api\purpleair_api\ ;
                 python -m pip install --upgrade wheel ;
                 python -m pip install --upgrade setuptools ;
                 python -m pip install --upgrade pip ;
                 python -m pip install coverage ;
                 python -m pip install requests_mock ;

      - name: Run unit tests...
        uses: carlkidcrypto/os-specific-runner@0396cb2145e0ba19f3b87ff667de7dce2a4ce0b3 # v2.1.1
        with:
          linux: cd /home/runner/work/purpleair_api/purpleair_api/tests ;
                 coverage run -m unittest && coverage json -o coverage_linux_${{ matrix.os }}_${{ matrix.python-version }}.json ;
          macos: cd /Users/runner/work/purpleair_api/purpleair_api/tests ;
                 coverage run -m unittest && coverage json -o coverage_macos_${{ matrix.os }}_${{ matrix.python-version }}.json ;
          windows: cd D:\a\purpleair_api\purpleair_api\tests ;
                   coverage run -m unittest && coverage json -o coverage_windows_${{ matrix.os }}_${{ matrix.python-version }}.json ;

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@3627e82763ce9c92c8de489a8c30f2e23c62c44b # v5.1.2
        with:
          files: coverage_*.json
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  
  # WIP
  #     - name: Upload Test Results
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: unittest-results_${{matrix.os}}_${{matrix.python-version}}
  #         path: |
  #           **.json

  # comment-pytest-coverage-report:
  #   runs-on: ubuntu-latest
  #   needs: build-and-test
  #   permissions:
  #     pull-requests: write # This is needed to create/update comments
  #   steps:
  #     - name: Download Artifacts
  #       uses: actions/download-artifact@v5
  #       with:
  #         pattern: unittest-results_*
  #         merge-multiple: false

  #     - name: List files
  #       run: ls -R unittest-results_*

  #     - name: Pytest coverage comment
  #       uses: MishaKav/pytest-coverage-comment@v1.1.57
  #       with:
  #         title: Tests Unittest Coverage Report(s)
  #         unique-id-for-comment: Tests-Unittest-Coverage-Report
  #         hide-badge: true
  #         hide-report: true
  #         create-new-comment: false
  #         hide-comment: false
  #         report-only-changed-files: false
  #         multiple-files: |
  #           ${{ matrix.os }} - ${{ matrix.python-version }}, ${{ github.workspace }}/tests/coverage_${{ runner.os }}_${{ matrix.os }}_${{ matrix.python-version }}.json, ""
        